<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragmets/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/fragmets/header :: header"></div>
    <!-- =============================================== -->
    <div th:replace="admin/fragmets/sidebar :: sidebar"></div>
    <!-- Left side column. contains the sidebar -->


    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quick Example</h3>
                    </div>


                    <form role="form" method="post" th:action="@{/admin/category-add}" th:object="${category}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Category Name</label>
                                <input th:field="*{categoryName}" type="text" class="form-control" id="exampleInputEmail1"
                                       placeholder="Category Name">
                            </div>
                            <div class="form-group">
                                <label>Category Status</label>
                                <br>
                                <label for="status1">Hiện</label>
                                <input th:field="*{categoryStatus}" type="radio" class="" id="status1" value="1">
                                <label for="status2">Ẩn</label>
                                <input th:field="*{categoryStatus}" type="radio" class="" id="status2" value="0">
                            </div>

                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/fragmets/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/fragmets/script :: script"></div>

</body>
</html>
