<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragmets/head :: head"></head>
<body>
<header th:replace="layout/fragmets/header :: header"></header>

<main class="main">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Thay đổi mật khẩu</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/change-password}" method="post">
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Lưu mật khẩu mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/fragmets/footer :: footer"></footer>

<script th:src="@{/fe/js/jquery.min.js}"></script>
<script th:src="@{/fe/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /* Lấy thông báo từ model */
    var message = /*[[${message}]]*/ 'null';
    var messageType = /*[[${messageType}]]*/ 'null';

    /* Nếu có thông báo, hiển thị SweetAlert */
    if (message.length > 0 && messageType.length > 0) {
        Swal.fire({
            title: messageType === 'success' ? 'Success!' : 'Error!',
            text: message,
            icon: messageType,
            confirmButtonText: 'OK'
        });
    }
    /*]]>*/
</script>
</body>
</html>
